h1{
    color: rgba(252, 208,16, 0.747);
    background-color: sandybrown;
    max-width: 49%;
    text-align: center;
}
p{
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#birthday{
    color: royalblue;
}
#murgi{
    color: seagreen;
}
.friend{
    background-color: slategrey;
    width: 49%;
    padding-left: 5px;
    margin-left: 10px;
}
#f_col{
    width: 50%;
    float: left;
    background-color: teal;
    height: 300px;
}
#s_col{
    width: 50%;
    float: left;
    background-color: turquoise;
    overflow: hidden;
    height: 300px;
    
}
#section_1{
    height: 200px;
    width: 99.6%;
    border: 2px solid black;
    overflow: hidden;
    background-color: dimgrey;
}
#section_1 p{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: serif;
}
#span_1{
    border: 2px solid;
    border-radius: 5px;
    background-color: violet;
}
.blog{
    border: 2px solid palevioletred;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    display: inline-block;
}
.blog h2{
    text-align: center;
}
.blog p{
    text-align: justify;
    color: peru;
}